---
import ProjectPage from "../../components/ProjectPage.astro";
---

<ProjectPage
    name="mc-lockout"
    title="Minecraft Lockout"
    description="A Spigot plugin that has teams racing against each other to complete specific objectives first."
>
    <div class="button-row">
        <a class="button-external-emphasis" href="https://github.com/ex4dev/mc-lockout" target="_blank">View on GitHub</a>
    </div>
    <hr>
    <h3>About</h3>
    <p>
        This project is a plugin for <a href="https://www.spigotmc.org/wiki/about-spigot/" target="_blank">Spigot</a> servers that adds specific challenges to be completed in Minecraft survival.
        Challenges range in difficulty and in type, but they all award equal points. The winner of the game is the first team to reach 13/25 points.
    </p>
    <p>
        I created this project to have a more accessible version of the popular Lockout <a href="https://www.curseforge.com/minecraft/mc-mods/lockout" target="_blank">mod</a> created by Minecraft YouTuber SmallAnt.
        That mod requires every player to install it on their computer, and it hasn't been updated to support the latest game version.
        Mine only needs to be installed on the server, and it takes advantage of the newest items and features in Minecraft.
    </p>
</ProjectPage>