---
import ProjectPage from "../../components/ProjectPage.astro";
---

<ProjectPage
    name="mc-lockout"
    title="Minecraft Lockout"
    description="A Spigot plugin that has teams racing against each other to complete specific objectives first."
>
    <div class="button-row">
        <a class="button-external-emphasis" href="https://github.com/ex4dev/mc-lockout" target="_blank">View on GitHub</a>
    </div>
    <hr>
    <h3>About</h3>
    <p>This project is a plugin for <a>Spigot</a> servers </p>
</ProjectPage>