---
import ProjectPage from "../../components/ProjectPage.astro";
---

<ProjectPage
    name="popusim"
    title="Popusim"
    description="An interactive population pyramid game that allows the user to see the consequences of certain actions and policies on the population."
>
    <div class="button-row">
        <a class="button-external-emphasis" href="https://ex4dev.github.io/popusim/" target="_blank">Visit Site</a>
        <a class="button-external" href="https://github.com/ex4dev/popusim" target="_blank">View on GitHub</a>
    </div>
    <hr>
    <h3>About</h3>
    <p>The project was made for AP Human Geography, and it relates to Unit 2 of the College Board's 2021-2022 curriculum. It illustrates the effects of various stresses on a population, using real-life examples to guide the results.</p>
    <h3>Features</h3>
    <ul>        
        <li>Immigration
        <li>Emigration</li>
        <li>Infant mortality</li>
        <li>War</li>
        <li>Birth and death rate controls</li>
        <li>See the exact population of each cohort, and its makeup of the total population</li>
        <li>Calculated population statistics</li>
    </ul>
    <h3>Screenshot</h3>
    <img class="body-img" src="/projects/popusim/screenshot.png" />
</ProjectPage>