---
import ProjectPage from "../../components/ProjectPage.astro";
---

<ProjectPage
    name="wet-bulb-weather"
    title="Wet Bulb Weather"
    description="A weather app that provides accurate data and actionable advice based on the Wet Bulb Globe Temperature."
>
    <div class="button-row">
        <a class="button-external-emphasis" href="https://github.com/ex4dev/wet-bulb-weather" target="_blank">View on GitHub</a>
    </div>
    <hr>
    <h3>About</h3>
    <p>This app was created for the Congressional App Challenge 2022.
        I was frustrated that every weather app I'd seen was either loaded with ads, super ugly, or not useful for making everyday decisions.
    </p>
    <p><b>Wet Bulb Weather</b> changes that: based on the <b><a href="https://en.wikipedia.org/wiki/Wet-bulb_globe_temperature" target="_blank">Wet Bulb Globe Temperature</a></b>,
        it gives you <i>actually useful</i> advice on staying safe in the heat. Using forecasting data and research from the <a href="https://sercc.com/" target="_blank">Southeast Regional Climate Center</a> at UNC Chapel Hill,
        the app makes it clear what steps you can take to prevent heat-related illnesses.
    </p>
    <h3>Screenshots</h3>
    <div class="button-row">
        <img src="/projects/wet-bulb-weather/Screenshot_20240906-093216.png" width="261" />
        <img src="/projects/wet-bulb-weather/Screenshot_20240906-094316.png" width="261" />
        <img src="/projects/wet-bulb-weather/Screenshot_20240906-094401.png" width="261" />
    </div>
</ProjectPage>